Fabric.Databus.Config/Fabric.Databus.Config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="propertyType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="object" />
      <xs:enumeration value="array" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pipelineName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ElasticSearch" />
      <xs:enumeration value="RestApi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="httpMethod">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Post" />
      <xs:enumeration value="Put" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="incrementalColumnOperator">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GreaterThan" />
      <xs:enumeration value="GreaterThanOrEqualTo" />
      <xs:enumeration value="LessThan" />
      <xs:enumeration value="LessThanOrEqualTo" />
      <xs:enumeration value="EqualTo" />
      <xs:enumeration value="NotEqualTo" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="Job">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Config">
          <xs:complexType>
            <xs:all minOccurs="0" maxOccurs="1">
              <xs:element minOccurs="1" maxOccurs="1" type="xs:string" name="ConnectionString"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Url"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="UrlUserName"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="UrlPassword"/>
              <xs:element minOccurs="0" maxOccurs="1" type="httpMethod" name="UrlMethod"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Index"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="Alias"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="EntityType"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:positiveInteger" name="MaximumEntitiesToLoad"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:positiveInteger" name="EntitiesPerBatch"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:positiveInteger" name="EntitiesPerUploadFile"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="DropAndReloadIndex"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="LocalSaveFolder"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="WriteTemporaryFilesToDisk"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="WriteDetailedTemporaryFilesToDisk"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="CompressFiles"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="UploadToUrl"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="KeepTemporaryLookupColumnsInOutput"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="UseMultipleThreads"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:positiveInteger" name="SqlCommandTimeoutInSeconds"/>
              <xs:element minOccurs="0" maxOccurs="1" type="pipelineName" name="Pipeline"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="LogToSeq"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:boolean" name="LogVerbose"/>
              <xs:element minOccurs="0" maxOccurs="1" type="xs:string" name="LogFile"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
        <xs:element name="Data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DataModel" minOccurs="0" maxOccurs="1"/>
              <xs:element name="TopLevelDataSource" maxOccurs="1" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="IncrementalColumn" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="required"/>
                            <xs:attribute type="incrementalColumnOperator" name="Operator" use="required"/>
                            <xs:attribute type="xs:string" name="Value" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Relationship" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Source" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Entity" use="required"/>
                                  <xs:attribute type="xs:string" name="Key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Destination" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Entity" use="required"/>
                                  <xs:attribute type="xs:string" name="Key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="required"/>
                            <xs:attribute type="xs:string" name="Alias" use="optional"/>
                            <xs:attribute type="xs:string" name="Entity" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Sql" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                  <xs:attribute type="xs:string" name="Path" use="optional"/>
                  <xs:attribute type="xs:string" name="TableOrView" use="optional"/>
                  <xs:attribute type="propertyType" name="PropertyType" use="optional"/>
                  <xs:attribute type="xs:string" name="Key" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="DataSource" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Relationship" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Source" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Entity" use="required"/>
                                  <xs:attribute type="xs:string" name="Key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Destination" minOccurs="1">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="Entity" use="required"/>
                                  <xs:attribute type="xs:string" name="Key" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Column" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="Name" use="required"/>
                            <xs:attribute type="xs:string" name="Alias" use="optional"/>
                            <xs:attribute type="xs:string" name="Entity" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="Sql" minOccurs="0" maxOccurs="1"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Name" use="optional"/>
                  <xs:attribute type="xs:string" name="Path" use="optional"/>
                  <xs:attribute type="xs:string" name="TableOrView" use="optional"/>
                  <xs:attribute type="propertyType" name="PropertyType" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>